@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');
/* font-family: "Outfit", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

body {
   margin: 0;
   font-family: "Outfit", sans-serif;
   background: rgb(32, 32, 32);
}

main {
   margin: 0;
   place-content: center;
   min-height: 100svh;
   user-select: none;
   position: relative;
   overflow: hidden;
}

main::before {
   position: absolute;
   inset: 0;
   content: "CALCULATOR";
   z-index: -1;
   font-size: 9rem;
   font-weight: 900;
   font-family: "Montserrat", sans-serif;
   -webkit-text-stroke: 1px rgb(145, 145, 145);
   -webkit-text-fill-color: transparent;
   top: 50vh;
   left: 10vw;
}

main div {
   border-radius: 10px;
   margin: auto;
   width: 300px;
   border: 1px solid rgb(255, 255, 255);
   padding: 1rem;
   box-shadow: 2px 2px 2px black;
}

div p {
   margin: 0.5em 0;
}

div p button {
   width: calc(100px - 0.2em);
   height: 50px;
   place-content: center;
   text-align: center;
   font-weight: 900;
   cursor: pointer;
   background-color: rgb(255, 54, 54);
   border: none;
   color: white;
   text-transform: uppercase;
   border-radius: 10px;
   box-shadow: 2px 2px 2px black;
}

.theValue {
   border-radius: 10px;
   text-align: right;
   margin: 0;
   border: 1px solid rgb(255, 255, 255);
   padding: 0.3em;
   overflow: hidden;
   height: 30px;
   color: white;
   font-weight: 900;
   place-content: center;
   padding: 0.3em;
}

.clear {
   width: calc(66.67% - 0.1rem);
   background-color: white;
   color: black;
}

p:last-child {
   margin: 0;
}

p:last-child button:last-child {
   background-color: rgb(255, 255, 255);
   color: black;
}

@media screen and (max-width:768px) {
   main::before {
      display: none;
   }
}
